﻿@model IEnumerable<SVOAScheduling.Models.ViewModels.myScheduleVM>

<div class="row">
    <div class="col-8">
        <h1>My Schedule</h1>
    </div>
    <div class="col-4 text-end">
        <a class="btn btn-primary" asp-controller="Game" asp-action="Index">Full Schedule</a>

    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitingTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.R1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.R2)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitingTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.R1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.R2)
            </td>
        </tr>}
    </tbody>
</table>
