@model SVOAScheduling.Models.ViewModels.GameViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete these assignments?</h3>
<div>
    <h4>Game</h4>
    <div class="row">
        <div>
           @Html.DisplayFor(model => model.Locaton)
        </div>
        <div>
            @Html.DisplayFor(model => model.HomeTeam) vs @Html.DisplayFor(model => model.VisitingTeam)
        </div>
        <div>
            @Html.DisplayFor(model => model.DateOnly)
        </div>
    </div>
    <hr />
    <form asp-action="Delete">
    <div class="row">
        <div class="col-4">
            <div>
                <input type="checkbox" class="form-group" asp-for="@Model.Checked" />

                @Html.DisplayFor(model => model.GameNumber) at @Html.DisplayFor(model => model.TimeOnly)
            </div>
                @foreach(var assignment in Model.Assignments.OrderBy(a => a.SortOrder))
            {
            <div>
                @Html.DisplayFor(item => assignment.AssignmentText): @Html.DisplayFor(item => assignment.OfficialName)
             </div>
           }
        </div>
        @for (int j = 0; j <= Model.AffiliatedGames.Count()-1; j++)
        {
            <div class="col-4">
                <div>
                    <input type="checkbox" class="form-group" asp-for="@Model.AffiliatedGames[j].Checked" />
                    <input type="hidden" asp-for="@Model.AffiliatedGames[j].GameId" />

                    @Html.DisplayFor(item => Model.AffiliatedGames[j].GameNumber) at @Html.DisplayFor(item => Model.AffiliatedGames[j].TimeOnly)
                </div>
            @foreach (var assignment in Model.AffiliatedGames[j].Assignments.OrderBy(a => a.SortOrder))
            {
                <div>
                    @Html.DisplayFor(item => assignment.AssignmentText): @Html.DisplayFor(item => assignment.OfficialName)
                </div>
            }
            </div>
        }
    </div>
     <div class="row pt-5">
       <div class="col-6">
        <input type="hidden" asp-for="@Model.GameId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
        <div class="col-6 text-end">
        <a asp-action="Modify" asp-route-id="@Model.GameId" class="btn btn-secondary">Back</a>
        </div>
    </div>
    </form>
</div>
