@model SVOAScheduling.Models.ViewModels.GameViewModel

@{ ViewData["Title"] = "Modify";
    string selectedtxt = ""; }

<h1>Modify Assignment</h1>
@if (ViewBag.Success == true)
{
<div class="col-12 alert alert-success">
    <strong>Assignments </strong>have been removed.
</div>}
@if (ViewBag.Success == false)
{
<div class="col-12 alert alert-warning">
    <strong>Assignments </strong>have<strong> NOT </strong>been removed.
</div>}
<div class="row">
    <div class="col-6">
        <div class="">@Model.Locaton</div>
        <div class="">@Model.HomeTeam vs @Model.VisitingTeam</div>
        <div class="">@Model.GameNumber</div>
        <div class="">@Model.Date.ToString("dd-MMM-yy HH:mm")</div>
    </div>
    <div class="col-6 text-end">
        <a class="btn btn-info" asp-action="Index" asp-controller="Game">Games</a>
    </div>
</div>
<hr />
<form asp-action="Modify">
    <div class="row">
        <div class="col-7 border-left border-right">
             <h5>Assignments</h5>
       <input type="hidden" asp-for="GameId" />
            @for (int i = 0; i < Model.Assignments.Count(); i++)
            {
<div class="row">
    <div class="col-3 text-end">
        <label class="" asp-for="@Model.Assignments[i].AssignmentText">@Model.Assignments[i].AssignmentText</label>:
        <input type="hidden" asp-for="@Model.Assignments[i].AssignmentTypeId" />
        <input type="hidden" asp-for="@Model.Assignments[i].AssignmentId" />
    </div>
    <div class="col-4">
        <select asp-for="@Model.Assignments[i].OfficialId" class="form-control">
            <option value="">Select</option>
            <option value="0">Remove</option>
            @foreach (var item in ViewBag.OfficialId)
            {
                selectedtxt = (Model.Assignments[i].OfficialId == item.Value) ? "selected" : "";

@:  <option value="@item.Value" @selectedtxt>@item.Text</option>
}
        </select>
    </div>
    <div class="col-3">
        <input type="text" placeholder="Gym" asp-for="@Model.Assignments[i].Gym" />
    </div>
</div>}

        </div>
        <div class="col-2">
        <h5>Affiliated Games</h5>
            @for (int j = 0; j < Model.AffiliatedGames.Count(); j++)
            {
<div class="row">
    <div class="col-3">
        <input type="checkbox" class="form-group" asp-for="@Model.AffiliatedGames[j].Checked" />
        <input type="hidden" asp-for="@Model.AffiliatedGames[j].GameId" />
    </div>
    <div class="col-9">@Model.AffiliatedGames[j].Division</div>
</div>
                <div class="row">
                    <div class="col-3 offset-1">
                        <input type="checkbox" class="form-group" asp-for="@Model.AffiliatedGames[j].Reverse" />
                    </div>
                    <div class="col-8">Reverse</div>
                </div>}


        </div>
        <div class="col-2">
            <div class="form-group">
                <div class="">
                    <input type="submit" value="Assign" class="btn btn-primary" />
                </div>
                <div class="pt-2"><a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.GameId">Clear Assignments</a></div>
            </div>

        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
