﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
        {
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Setup</a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Assignment Types", "Index", "AssignmentType", null, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("Associations", "Index", "Association", null, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("Formats", "Index", "Format", null, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("Leagues", "Index", "League", null, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("League Types", "Index", "LeagueType", null, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("Levels", "Index", "Level", null, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("Locations", "Index", "Location", null, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("Payments", "Index", "Payment", null, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("Provinces", "Index", "Province", null, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("Regions", "Index", "Region", null, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("Seasons", "Index", "Season", null, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("Sports", "Index", "Sport", null, new { @class = "dropdown-item" })</li>
            </ul>
        </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
