﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<SVOAScheduling.Models.ViewModels.myScheduleVM>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SVOA Scheculing Application</h1>
   @foreach (var claim in User.Claims)
    {
      <!--   <p>@claim.Type: @claim.Value</p>-->
    }
</div>

@if (SignInManager.IsSignedIn(User))
{

    <partial name="/Views/Assignment/_index.cshtml", model="Model" />
}