﻿@page
@model SVOAScheduling.Areas.Identity.Pages.Role.AssignModel
@{
    ViewData["Title"] = "Assign Roles";
}

<h1>@ViewData["Title"] for @Model.Input.FullName</h1>
<div class="row">
    <div class="col-4">
        @Model.Input.Email
    </div>
    <div class="col-4">
        @Model.Input.City
    </div>
</div>
<hr />
<form method="post">
<div class="row">
    @for(int i = 0; i <= Model.Input.Roles.Count() -1; i ++)
            {
    <div class="col-3">
        <input type="checkbox" class="form-group" asp-for="@Model.Input.Roles[i].Checked" />
        <input type="hidden" asp-for="@Model.Input.Roles[i].Id" />
        <input type="hidden" asp-for="@Model.Input.Roles[i].NormalizedRoleName" />
        <input type="hidden" asp-for="@Model.Input.Roles[i].Name" />
        <span> @Model.Input.Roles[i].Name</span>
    </div>
            }
</div>
    <div class="row pt-3">
        <div class="col-6">
            <input type="hidden" asp-for="@Model.Input.Id" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-6">
            <a asp-page="./List" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>