﻿@page
@model SVOAScheduling.Areas.Identity.Pages.Role.DeleteModel
@{
    ViewData["Title"] = "Delete Role";
}
<h1>@ViewData["Title"] @Model.Input.Name?</h1>
<hr />
<div class="row pt-3">
    <div class="col-3">
        <form method="post">
            <input type="hidden" asp-for="Input.Id" />
            <button type="submit" class="btn btn-danger">Yes</button>
        </form>
    </div>
    <div class="col-3">
        <a asp-page="./Index" class="btn btn-secondary">No</a>
    </div>
</div>