﻿@page
@model SVOAScheduling.Areas.Identity.Pages.Role.IndexModel
@{
    ViewData["Title"] = "Role List";
}

<div class="row">
    <div class="col-6">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-6 text-end">
        <a asp-page="./Create" class="btn btn-primary">Create New</a>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Input)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @if(item.Name != "Referee" && item.Name != "Super Administrator")
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class="bi-pencil"></i></a><span> | </span>
                    <a asp-page="./Delete" asp-route-id="@item.Id"><i class="bi-trash"></i></a>
                }
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}