﻿@page
@model SVOAScheduling.Areas.Identity.Pages.Role.ListModel
@{
    ViewData["Title"] = "Users List";
}
<h1>@ViewData["Title"]</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="@Model.Input.FirstOrDefault().FullName"></label>
            </th>
            <th>
                <label asp-for="@Model.Input.FirstOrDefault().Email"></label>
            </th>
            <th>
                <label asp-for="@Model.Input.FirstOrDefault().City"></label>
            </th>
            <th>
                <label asp-for="@Model.Input.FirstOrDefault().Roles"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Input)
        {
        <tr>
            <td>
                @item.FullName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.City
            </td>
            <td>
                @if (item.Roles != null)
                {
                    @foreach (var role in item.Roles)
                    {
                        <div>@role.Name</div>
                    }
                }
            </td>
            <td>
                <a asp-page="./Assign" asp-route-id="@item.Id"><i class="bi-pencil"></i></a><span> | </span>
                <a asp-page="./DeleteRoles" asp-route-id="@item.Id"><i class="bi-trash"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
