﻿@model IEnumerable<SVOAScheduling.Models.Profile>;
@{
    ViewData["Title"] = "Referees";
    var status = Context.Request.Query["status"];
    var statusText = "Inactive";
    if(string.IsNullOrEmpty(status) || status == "true")
    {
        status = "false";
    }
    else
    {
        status = "true";
        statusText = "Active";
    }
}

<div class="row">
    <div class="col-8">
        <h1>Referees</h1>
    </div>
    <div class="col-4 text-end">
        <a class="btn btn-primary" asp-action="Index" asp-route-status="@status">Show @statusText</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.UserSettings.Level.Term)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSettings.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.UserSettings.Level.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSettings.Status)
            </td>
        </tr>
        }
    </tbody>
</table>
