﻿@model SVOAScheduling.Models.Game
<div class="row">
    <div class="col-4">
<div class="form-group">
    <label asp-for="Date" class="control-label"></label>
    <input asp-for="Date" class="form-control" />
    <span asp-validation-for="Date" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LocationId" class="control-label"></label>
    <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId">
        <option value="0">Select</option>
    </select>
</div>
</div>
    <div class="col-4">
<div class="form-group">
    <label asp-for="HomeTeamId" class="control-label"></label>
    <select asp-for="HomeTeamId" class="form-control" asp-items="ViewBag.HomeId">
        <option value="0">Select</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="VisitingTeamId" class="control-label"></label>
    <select asp-for="VisitingTeamId" class="form-control" asp-items="ViewBag.VisitorsId">
        <option value="0">Select</option>
    </select>
</div>
    </div>
    <div class="col-4">
<div class="form-group">
    <label asp-for="DivisionId" class="control-label"></label>
    <select asp-for="DivisionId" class="form-control" asp-items="ViewBag.DivisionId">
        <option value="0">Select</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="Number" class="control-label"></label>
    <input type="text" asp-for="Number" class="form-control" />
</div>
    </div>
</div>
<div class="row">
    <div class="col-4">
<div class="form-group">
    <label asp-for="SeasonId" class="control-label"></label>
    <select asp-for="SeasonId" class="form-control" asp-items="ViewBag.SeasonId">
        <option value="0">Select</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="PaymentId" class="control-label"></label>
    <select asp-for="PaymentId" class="form-control" asp-items="ViewBag.PaymentId">
        <option value="0">Select</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="FormatId" class="control-label"></label>
    <select asp-for="FormatId" class="form-control" asp-items="ViewBag.FormatId">
        <option value="0">Select</option>
    </select>
</div>
    </div>
    <div class="col-4">
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
    </label>
</div>
    </div>
</div>