@model SVOAScheduling.Models.Game

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-6">
        <h1>New Game</h1>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Index" role="button" class="btn btn-info">Back</a>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_Form.cshtml" , model="Model" />
            <div class="row pt-5">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
