@model SVOAScheduling.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-6">
        <h1>Edit Game</h1>
        </div>
    <div class="col-6 text-end">
            <a asp-action="Index" class="btn btn-secondary">Return</a>
    </div>
</div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <partial name="_Form.cshtml" , model="Model" />
                    <div class="row">
                        <div class="col-12 text-end">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
