@using Microsoft.AspNetCore.Identity
@model IEnumerable<SVOAScheduling.Models.ViewModels.FullScheduleViewModel>
@inject UserManager<IdentityUser> UserManager

@{ ViewData["Title"] = "Index"; }
<div class="row">
    <div class="col-6">
        <h1>Full Schedule</h1>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-primary">Create Game</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                Match
            </th>
            <th>
                @Html.DisplayNameFor(model => model.R1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.R2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Division)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Number)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HomeTeam) vs
        @Html.DisplayFor(modelItem => item.VisitingTeam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.R1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.R2)
    </td>
    <td>
             <a asp-action = "Details" asp-route-id = "@item.Id" ><i class="bi-info-circle"></i></a>
       @if (User.IsInRole("Administrator") || User.IsInRole("Assignor"))
        {
             <span> | </span>
            <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi-pencil"></i></a> <span> | </span>
            <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi-x-octagon"></i></a> <span> | </span>
            <a asp-controller = "Assignment" asp-action = "Modify" asp-route-id = "@item.Id" ><i class="bi-clipboard-check"></i></a>
        }
    </td>
</tr>
}
    </tbody>
</table>
